USE [master]
GO
/****** Object:  Database [TomaszDyskoLab6Zad1]    Script Date: 2018-05-20 18:59:59 ******/
CREATE DATABASE [TomaszDyskoLab6Zad1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TomaszDyskoLab6Zad1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOL\MSSQL\DATA\TomaszDyskoLab6Zad1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TomaszDyskoLab6Zad1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOL\MSSQL\DATA\TomaszDyskoLab6Zad1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TomaszDyskoLab6Zad1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TomaszDyskoLab6Zad1]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2018-05-20 18:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NumberOfPieces] [int] NOT NULL,
	[Price] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [NumberOfPieces], [Price]) VALUES (40, N'Mleko', 1, 2.5000)
INSERT [dbo].[Product] ([Id], [Name], [NumberOfPieces], [Price]) VALUES (44, N'Chleb', 1, 2.5000)
INSERT [dbo].[Product] ([Id], [Name], [NumberOfPieces], [Price]) VALUES (45, N'Woda', 12, 0.6000)
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
